html,body{
  padding: 0; margin: 0; height: 100%;
}

body{
  background-image: url(https://source.unsplash.com/random);
  background-size: cover;
  background-repeat: none;
  color: white;
}
nav{
  height: 100%; width: 20%; float: left;
}
header{
height: 20%; width: 60%; float: left;
}
main{
  height: 60%; width: 60%; float: left;
  text-align: center;
}
aside{
  height: 100%; width: 20%; float: right;
  text-align: right;
}
footer{
  height: 20%; width: 60%; clear: both;
}
h1{
    color: white;
}

.clicked {
    color: #7f8c8d;
  }
  
  .form,
  .greetings {
    display: none;
  }
  
  .showing {
    display: block;
  }